.slider_icons {
    width:15vh;
}
.faculty_listing_img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}
.home_about_img {
    width: 100%;
    height: 240px;
    overflow: hidden;
    object-fit: cover;
}
.img_loader {
    display: none;
    width: 30px;
    height: 30px;
}
.home_why_extra_img {
    padding: 10px;
}

.my_desc p {
    text-align: justify;
} 
.my_desc  ul li {
    margin-left : 16px;
}

.my_desc  ul li::before {
    content: "\f111"; /* FontAwesome Unicode */
    color: #84499d;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.my_desc  ol li {
    margin-left : 16px;
}

.my_desc  ol li::before {
    content: "\f00c"; /* FontAwesome Unicode */
    color: #84499d;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.my-active-course {
    background-color: #cfb0dd!important;
    border-right: 6px solid #84499d !important;
    color: #fff;
}
.my-active-course a{
    color: #fff;
}

.my_desc table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
.my_desc table tbody tr:first-child  {
    background-color: #84499d !important;
    border-bottom: 3px solid #29084d !important;
}

.my_desc table tbody tr:first-child td  {
    color: #fff !important;
}

.my_desc table tbody tr:first-child td span {
    color: #fff !important;
}

.my_desc th, td {
    text-align: left;
    padding: 8px !important;
    white-space: inherit !important;
    vertical-align: top !important;
    border-right: 1px solid #29084d !important;
    border-bottom: 1px solid #29084d !important;
}

.my_desc__table {
    overflow-x:auto;
}
  
.my_desc__about ul li {
    margin-bottom : 16px;
}
.btn__ask  {
    display: none !important;
}

.btn__application_link {
    background-color: #84499d;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 200px;
    padding: 30px 160px;
    text-decoration: none;
    transition: 0.3s;  
}
.btn__application_link:focus{
    color: #fff;
}
.btn__application_link:hover {
    background-color: #29084d;
    color: #fff;
}  
/* .my_desc tr:nth-child(even){background-color: #f2f2f2} */
.div__application_link {
    height: 90px;
}

.my_desc_listing {
    height:74px;
    overflow:hidden;
    /* font-size: 12px !important; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.list-img {
    height: 270px;
    object-fit: cover;
    overflow:hidden;
    width: 100%;
    
} 
.gallery-slider-img{
    height: 170px;
    object-fit: cover;
    overflow:hidden;
    width: 100%;
}

.list-img--activity
{
    height: 270px;
}

.list-img--alumni
{
    height: 270px;   
}

.list-img--recruiters
{
    height: 100px;   
}
.recruiter-name-logo {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;   
    
}

.recruiter-name-logo__title {
    font-size: 1vw;
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height:70px;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.list-img--alumni-detail {
    height: 270px;   
}

.list-img--govlinks__holder{
    display: block;
    width: 100% !important;
    padding: 20px;
} 

.list-img--govlinks {
    height: 132px !important;   
}

.list-img--affiliation {
    height: 100px !important;   
}

.list-desc {
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height:74px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.list-desc--activity {
    height:74px;
    -webkit-line-clamp: 3;
}

.list-desc--recruiter{
    height:64px;
    -webkit-line-clamp: 3;
}
.thumb {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumb--recruiters {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-5 {
    border: 5px solid #84499d;
}

.border-3 {
    border: 3px solid #84499d;
}

.news-box {
    padding: 10px;
}

@media(max-width: 768px){
    .slider_icons {
        width:10vh;
    }
    .home_about_img {
        width: 100%;
        height: 240px;
        overflow: hidden;
        object-fit: cover;
    }
    .my_desc table {
        width: 700px !important;
    }

    .btn__ask {
        display: block !important;

    }
    .btn__application_link { 
        padding: 26px 100px;

    }
    .list-img--alumni
    {
        height: 370px;
    }

    .list-img--recruiters {
        width: 70%;
        height: 140px;
    }
    .recruiter-name-logo {
        
        width: 70%;
        height: 140px; 
        
    }

    .recruiter-name-logo__title {
        font-size: 4.3vw;
        overflow:hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        height:70px;
    
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .thumb {
        background: white;
    }

    
}